services:

  kafka:
    image: apache/kafka:3.7.0
    container_name: kafka
    env_file:
      - .env
    ports:
      - "9092:9092"
    volumes:
      - ./docker/kafka:/bitnami/kafka
    healthcheck:
      test: ["CMD-SHELL", "nc -z localhost 9092 || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 10
    networks:
      - app-network

  auth:
    container_name: auth_service
    build:
      context: ./auth
    env_file:
      - ./auth/.env
    ports:
      - "8083:50053"
    networks:
      - app-network
    depends_on:
      auth_postgres:
        condition: service_healthy
      kafka:
        condition: service_healthy
    healthcheck:
      test: ["CMD", "grpc_health_probe", "-addr=:50053"]
      interval: 30s
      timeout: 10s
      retries: 3

  auth_postgres:
    image: postgres:latest
    container_name: auth_postgres
    env_file:
      - ./auth/.env
    ports:
      - 5433:5432
    networks:
      - app-network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -h localhost -p 5432"]
      interval: 30s
      timeout: 10s
      retries: 5

  chat:
    container_name: chat_service
    build:
      context: ./chat
    env_file:
      - ./chat/.env
    ports:
      - "8084:50054"
    networks:
      - app-network
    depends_on:
      chat_postgres:
        condition: service_healthy
      kafka:
        condition: service_healthy
    healthcheck:
      test: ["CMD", "grpc_health_probe", "-addr=:50054"]
      interval: 30s
      timeout: 10s
      retries: 3

  chat_postgres:
    image: postgres:latest
    container_name: chat_postgres
    env_file:
      - ./chat/.env
    ports:
      - 5434:5432
    networks:
      - app-network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -h localhost -p 5432"]
      interval: 30s
      timeout: 10s
      retries: 5
      
  social:
    container_name: social_service
    build:
      context: ./social
    env_file:
      - ./social/.env
    ports:
      - "8085:50055"
    networks:
      - app-network
    depends_on:
      social_postgres:
        condition: service_healthy
      kafka:
        condition: service_healthy
    healthcheck:
      test: ["CMD", "grpc_health_probe", "-addr=:50055"]
      interval: 30s
      timeout: 10s
      retries: 3

  social_postgres:
    image: postgres:latest
    container_name: social_postgres
    env_file:
      - ./social/.env
    ports:
      - 5435:5432
    networks:
      - app-network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -h localhost -p 5432"]
      interval: 30s
      timeout: 10s
      retries: 5

  users:
    container_name: users_service
    build:
      context: ./users
    env_file:
      - ./users/.env
    ports:
      - "8086:50056"
    networks:
      - app-network
    depends_on:
      users_postgres:
        condition: service_healthy
      kafka:
        condition: service_healthy
    healthcheck:
      test: ["CMD", "grpc_health_probe", "-addr=:50056"]
      interval: 30s
      timeout: 10s
      retries: 3

  users_postgres:
    image: postgres:latest
    container_name: users_postgres
    env_file:
      - ./users/.env
    ports:
      - 5436:5432
    networks:
      - app-network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -h localhost -p 5432"]
      interval: 30s
      timeout: 10s
      retries: 5

  gateway:
    container_name: gateway_service
    build:
      context: ./gateway
    ports:
      - "8087:50057"
    networks:
      - app-network
    depends_on:
      auth:
        condition: service_healthy
      chat:
        condition: service_healthy
      social:
        condition: service_healthy
      users:
        condition: service_healthy


# Определяем общую сеть
networks:
  app-network:
    driver: bridge
    name: app-network